<footer >
    <div class="container">
        <div class="card">
            <h2>Sobre Nós</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis consequuntur labore recusandae.
                Ratione cupiditate quo quisquam. Commodi inventore ipsa odio vitae accusamus quaerat quo esse facilis
                sit nesciunt, nulla earum!</p>
        </div>
        <div class="card">
            <h2>Entrar em Contato</h2>
            <address>
                <p>Rua das Pedrinhas, nº 664</p>
            </address>
            <div class="contatos">
                <a href="#"><img class="contato__icones" src="img/footer-email.png" alt="email"></a>
                <a href="#"><img class="contato__icones" src="img/footer-whats.png" alt="whatsapp"></a>
            </div>
        </div>
        <div class="card">
            <h2>Nossos Serviços</h2>
            <ul class="card__servicos">
                <li class="list_service"><a href="#">Serviço 01</a></li>
                <li class="list_service"><a href="#">Serviço 02</a></li>
                <li class="list_service"><a href="#">Serviço 03</a></li>
                <li class="list_service"><a href="#">Serviço 04</a></li>
                <li class="list_service"><a href="#">Serviço 05</a></li>
            </ul>
        </div>
        <div class="card">
            <h2>Redes Sociais</h2>
            <div class="rede_social">
                <a href="#"><img class="redesocial__icones" src="img/footer-email.png" alt="email"></a>
                <a href="#"><img class="redesocial__icones" src="img/footer-whats.png" alt="whatsapp"></a>
                <a href="#"><img class="redesocial__icones" src="img/footer-whats.png" alt="whatsapp"></a>
                <a href="#"><img class="redesocial__icones" src="img/footer-whats.png" alt="whatsapp"></a>
            </div>

        </div>
    </div>
    <div class="creditos">
        <p>Projeto de Conclusão de Curso Digital House - 2022</p>
    </div>
</footer>