<!--<header class="containner stickmenu">  -->
<header class="containner"> 
    <div class="containner_conteudo">
        <div class="containner_img">
            <img src="img/header-logo.png" alt="logo">
        </div>
        <ul class="conteudo__menu">
            <li class="menuTxt"><a href="#">Home</a></li>
            <li class="menuTxt"><a href="#">Sobre</a></li>
            <li class="menuTxt"><a href="#">Serviços</a></li>
            <li class="menuTxt"><a href="#">Depoimentos</a></li>
            <li class="menuTxt"><a href="#">Contato</a></li>
        </ul>
        <div class="btnEntrar">
            <span><a href="login">Entrar</a></span>
        </div>
    </div>
</header>