<!--<header class="containner stickmenu">  -->
<header class="containner"> 
    <div class="containner_conteudo">
        <div class="containner_img">
            <img src="img/header-logo.png" alt="logo">
        </div>
        <ul class="conteudo__menu">
            <% menulist.forEach(item => { %>
                <li class="menuTxt"><a href="#"><%= item %></a></li>
            <% })%>
        </ul>
        <div class="btnEntrar">
            <span><a href="login">Entrar</a></span>
        </div>
    </div>
</header>