@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* BOTAO CREATE ADICIONADO POR ULTIMO - CASO QUEBRAR O LAYOUT */

.menu-pet{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 60px;
}

.menu-pet .btnAdicionar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    padding: 10px;
    border: 1px solid transparent;
    margin-bottom: 15px;
    border-radius: 30px;
    background: purple;
    cursor: pointer;
}

.btnAdicionar i {
    font-size: 16px;
    padding: 10px;
    color: white;
}

.btnAdicionar p{
    font-size: 14px;
    font-family: "Montserrat";
    padding: 0 10px;
    color: white;
    text-transform: uppercase;
}

/*  */
.pet{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 65px;
}

.pet_container{
    min-width: 325px;
    width: calc(100% / 4 - 20px);
    height: 500px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    margin: 10px;
}

.pet_container:hover{
    box-shadow: 0 0 15px purple;
}

.pet_container .card-header{
    width: 100%;
    position: relative;
}

.pet_container .card-header .pet-tipo{
    border: 1px solid transparent;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background: purple;
    color: white;
    cursor: pointer;
}

.pet_container .card-header .controles{
    position: absolute;
    top: 50px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50px;
    height: 100px;
}

.controles .botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 3px solid rgba(128, 128, 128, 0.2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.botao.editar{
    color: green;
    transition: 0.3s ease;
}

.botao.editar:hover{
    background: green;
    color: white;
}

.botao.excluir{
    color: red;
    transition: 0.3s ease;
}

.botao.excluir:hover{
    background: red;
    color: white;
}

.pet-tipo p{
    font-family: 'Montserrat';
    font-size: 14px;
}

.pet_container .pet-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 25px 0;
}

.pet-image span{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(128, 0, 128);
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.pet-image span i{
    font-size: 50px;
    color: gray;
}

.pet_container .pet-info{
    text-align: center;
}

.pet-info h2,
.pet-info p{
    font-family: "Montserrat";
    font-size: 24px;
}

.pet-info p{
    padding: 5px 0;
    font-size: 14px;
}

.pet-detalhes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.pet-detalhes .detalhe-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: calc(100%/2 - 15px);
    cursor: pointer;
}

.detalhe-container .img-detalhe{
    width: 48px;
    height: 48px;
    padding: 5px;
}

.detalhe-container .titulo-detalhe,
.detalhe-container .subtitulo-detalhe{
    font-family: "Montserrat";
    font-size: 16px;
    padding: 3px 0;
}

.detalhe-container .subtitulo-detalhe{
    font-size: 14px;
}