@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --montserrat: 'Montserrat', sans-serif;
    --sectionIconColor: #5b13b9;
    --sectionTextColor: #5b13b9;
    --sectionSubColor: #000000;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: white;
    box-sizing: border-box;
    font-family: var(--montserrat);
}

footer{
    margin: 0 auto;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;  
}

.container-footer{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-between;
}

.container-footer h2{
    font-size: 16px;
    margin: 5px 5px;
    color: var(--sectionTextColor);
}

.container-footer p{
    margin: 5px 0px;
    padding: 5px 5px;
    text-align: justify;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 15%;
    font-size: 12px;
    margin: 20px 15px;
}

.card .contatos{
    display: flex;
    flex-wrap: wrap;
}

.contato__icones{
    display: block;
    width: 25px;
    margin: 10px 5px;
}

.card__servicos{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.list_service{
    list-style: none;
    margin-bottom: 5px;
}

.list_service a {
    text-decoration: none;
    color: black;
}

.card .rede_social{
    display: flex;
    flex-wrap: wrap;
}

.redesocial__icones{
    display: block;
    width: 25px;
    margin: 10px 5px;
}

.creditos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.creditos p{
    display: block;
    text-align: center;
    font-family: var(--montserrat);
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    padding: 10 10px;
    color: var(--sectionTextColor);
    text-transform: uppercase;
}
