@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --montserrat: 'Montserrat', sans-serif;
    --brancoBg: #ffffff;
    --navlinkBar: #5b13b9;

    --btnBg: #7d2ae8;
    --btnBgHover: #7d2ae8;
    --btnColor: #ffffff;

    --sectionIconColor: #5b13b9;
    --sectionTextColor: #5b13b9;
    --sectionSubColor: #000000;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--brancoBg);
    box-sizing: border-box;
    font-family: var(--montserrat);
}

.containner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.containner_conteudo{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.containner_img img{
    width: 60px;
    height: auto;
    margin: 5px;
}
.conteudo__menu{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 10px 0px;
}

.conteudo__menu a{
    text-decoration: none;
    color: var(--sectionSubColor);
}

.conteudo__menu a:hover{
    padding-bottom: 5px;
    border-bottom: 5px solid var(--navlinkBar);
}
.menuTxt{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 20px;
}

.containner_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.btnEntrar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: var(--btnBg);
    border: 1px transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.btnEntrar:hover{
    background-color: var(--btnBgHover);
}

.btnEntrar span{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.btnEntrar span a{
    text-decoration: none;
    color: var(--btnColor);
}