:root{
    --brancoBg: #ffffff;
    --navlinkBar: #5b13b9;

    --btnBg: #7d2ae8;
    --btnBgHover: #7d2ae8;
    --btnColor: #ffffff;

    --sectionIconColor: #5b13b9;
    --sectionTextColor: #5b13b9;
    --sectionSubColor: #000000;

    --borderColor: rgba(128, 128, 128, 0.60);
}

.hero{
    width: 100vw;
}

.hero-container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-titulo{
    padding: 20px;
    width: 50%;
}

.hero-titulo h2{
    font-size: 36px;
    font-weight: 700;
    color: var(--sectionTextColor);
    font-family: sans-serif;
}

.hero-titulo span{
    display: block;
    border: 1px solid transparent;
    background: var(--btnBg);
    text-align: center;
    width: 200px;
    height: 50px;
    margin-top: 15px;
    border-radius: 100px;    
    cursor: pointer;
}

.hero-titulo .saibamais{
    display: flex;
    align-items: center;
    justify-content: center;
}

.saibamais a{
    text-decoration: none;
    color: var(--btnColor);
}

.hero-titulo span p{
    font-size: 22px;
    font-weight: bold;
}

.hero-image img{
    width: 100%;
    max-width: 450px;
    margin: 15px 0;

}