@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.parceiro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 65px;
}

.parceiro_container {
    border: 1px solid rgba(128, 128, 128, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 400px;
    border-radius: 5px;
    margin: 10px;
}

.parceiro_container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}

.parceiro_container .parceiro-nome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parceiro-nome h2 {
    text-align: center;
    font-family: "Montserrat";
    font-size: 24px;
    padding: 15px;
}

.parceiro-nome .parceiro-dados {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

.parceiro-dados p {
    font-family: "Montserrat";
    font-size: 14px;
    padding: 3px;
}

.parceiro_container .servicos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px
}

.servicos p{
    font-family: "Montserrat";
    font-size: 14px;
    border: 1px solid red;
    margin: 5px;
    border-radius: 5px;
    padding: 5px 10px;
}

.parceiro_container .contato {
    width: 100%;
    overflow: hidden;
    display: flex;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato .socialicones{
    margin: 0 auto;
}

.contato p{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;
}

.contato i {
    font-size: 20px;
    color: gray;
    padding: 10px 5px;
    cursor: pointer;
}

.contato i:hover{
    color: purple;
    cursor: pointer;
}