* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.25);
    padding: 15px;
    
}

.modal-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    max-width: 800px;
    margin: 5% auto;
    border-radius: 10px;
    position: relative;
}

.modal-formulario form {
    width: 100%;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

form .input-box {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: calc(100% / 3 - 15px);
    margin: 10px 0;
    padding: 0 5px;
}

.input-box label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 0;
    cursor: pointer;
}

.input-box input,
.input-box select {
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 0 15px;
    font-size: 18px;
}

.input-box input:focus{
    border: 1px solid red;
}

.input-box button {
    width: 125px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: none;
    background: purple;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
}

form .btn {
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: flex-end;

}

form .btn span{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 48px;
    height: 48px;
    top: 15px;
    color: gray;
    right: 30px;
    cursor: pointer;
}