@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c3c3c3;
    padding: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    max-width: 450px;
    width: 100%;
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
}
 
.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .form-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form-content .register-form{
    width: 100%
}

form .form-content .title{
    position: relative;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #5b13b9;
}

form .form-content .input-boxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}

form .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0px 30px;
    font-size: 17px;
    font-weight: 400;
    border-bottom: 2px solid gray;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid{
    border-color: orange;
}

.form-content .input-box i {
    position: absolute;
    font-size: 17px;
    color: #7d2ae8;
}

form .form-content .input-boxes .button{
    color: white;
    margin-top: 40px;
}

form .form-content .termos,
form .form-content .cadastrado {   
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-top: 15px;
}

form .form-content .cadastrado{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.cadastrado span{
    padding: 0 10px;
}

.cadastrado a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

form .form-content .input-boxes .button input{
    color: white;
    background: #7d2ae8;
    border-radius: 5px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

form .form-content .input-boxes .button input:hover{
    background: #5b13b9;
}

form .form-content label{
    color: #5b13b9;
    cursor: pointer;
}


form .input-boxes input[type="checkbox"]{
    margin: 0 10px 0 0;
}