@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --montserrat: 'Montserrat', sans-serif;
    --brancoBg: #ffffff;
    --navlinkBar: #5b13b9;

    --btnBg: #7d2ae8;
    --btnBgHover: #7d2ae8;
    --btnColor: #ffffff;

    --sectionIconColor: #5b13b9;
    --sectionTextColor: #5b13b9;
    --sectionSubColor: #000000;

    --borderColor: rgba(128, 128, 128, 0.35);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
}

.container-geral{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto;
}

.servicos-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.container_servico{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 275px;
    height: 325px;
    width: 100%;
    background-color: var(--brancoBg);
    padding: 20px 20px;
    border-radius: 10px;
    margin: 10px 10px;
    border: 1px solid var(--borderColor);
    cursor: pointer;
}

.container_servico:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.servicos-header{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.servicos-titulo{
    display: block;
    font-size: 36px;
    color: var(--sectionTextColor);
    padding: 10px;
    margin-left: 10px;
    border-left: 8px solid var(--sectionIconColor);
}

.container_servico .icone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    color: var(--sectionIconColor);
}

.container_servico .icone i{
    font-size: 40px;
}

.text-header{
    /* border: 1px solid red; */
    text-align: center;
    width: 100%;
    padding: 10px;
    color: var(--sectionTextColor);
    font-size: 14px;
}

.subtext{
    text-align: justify;
    /* border: 1px solid red; */
    width: 100%;
    padding: 10px;
    height: 100%;
    font-size: 0.85em;
}
