@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c3c3c3;
    padding: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
}
 
.container .form-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .form-content h2{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #7d2ae8;
    margin: 10px 0px;
}

.form-content .input-boxes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form .form-content .input-box{
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 50px;
    width: 250px;
    margin: 10px 0px;
}

.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0px 10px;
    font-size: 17px;
    font-weight: 400;
    border-bottom: 3px solid gray;
}

.form-content .input-box i {
    font-size: 17px;
    color: #7d2ae8;
    padding: 10px;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid{
    border-color: orange;
}

form .form-content .text{
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    padding: 10px 0px;
}

form .form-content .text input[type='checkbox']{
    transform: scale(1.4);
    margin: 0 10px;
}

form .form-content .containner-btn .btnEnviar{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
}

form .form-content .containner-btn .btnEnviar input{
    font-family: var(--montserrat);
    font-size: 18px;
    text-transform: uppercase;
    width: 300px;
    height: 40px;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
    background: #7d2ae8;
    color: white;
    cursor: pointer;
}

form .containner-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;    
}

form .input-boxes input[type="checkbox"]{
    margin: 0 10px 0 0;
}

form .containner-btn .text a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

form .form-content .text-cadastrado{
    width: 100%;
    padding: 10px 0px;
}

form .form-content .text-cadastrado p{
    text-align: center;
}

form .form-content .text-cadastrado label a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

form .form-content .text-cadastrado label a:hover{
    border-bottom: 1px solid #7d2ae8;
}