<div class="container">
    <form method="POST" action="#">

        <div class="form-content">

            <div class="input-boxes">

                <div class="input-box">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="Primeiro Nome" required>
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="Sobrenome" required>
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" placeholder="Seu Email" required>
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-phone"></i>
                    <input type="tel" placeholder="Informe seu telefone" required>
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-calendar"></i>
                    <input type="date" placeholder="" required>
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input type="text" placeholder="Informe seu CPF" required>
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-location-crosshairs"></i>
                    <input id="cep" type="text" placeholder="Informe seu CEP" onblur="consultaCEP()" required>
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input id="rua" type="text" placeholder="Endereço" disabled>
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input id="nr-complemento" type="text" placeholder="Numero - Complemento" required>
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input id="bairro" type="text" placeholder="Bairro" disabled>
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input id="cidade" type="text" placeholder="Cidade" disabled>
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-pen"></i>
                    <input id="uf" type="text" placeholder="Estado" disabled>
                </div>
            </div>

            <div class="containner-btn">
                <div class="btnEnviar">
                    <input type="submit" placeholder="Enviar">
                </div>
            </div>
        </div>

    </form>
</div>