<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/dashboard.css" type="text/css">

    <!-- FONT AWSOME -->
    <script src="https://kit.fontawesome.com/8738c5e42e.js" crossorigin="anonymous"></script>

    <title>
        Dashboard | Anymals
    </title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="/img/dash-logo.png" alt="logo">
            </div>

            <span class="logo_name">Anymals</span>
        </div>

        <div class="menu-itens">
            <ul class="nav-links">
                <li>
                    <a href="/dashboard">
                        <i class="fa-solid fa-house"></i>
                        <span class="link-name">Home</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard/perfil">
                        <i class="fa-solid fa-user"></i>
                        <span class="link-name">Perfil</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard/pet">
                        <i class="fa-solid fa-paw"></i>
                        <span class="link-name">Pets</span>
                    </a>
                </li>

                <li>
                    <a href="/dashboard/parceiro">
                        <i class="fa-solid fa-house"></i>
                        <span class="link-name">Parceiros</span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                    <a href="/dashboard/logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="link-name">Sair</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="fa-solid fa-bars sidebar-toggle"></i>

            <div class="profile">
                <p> Bem vindo(a) <%=session.userName%></p>
                <img src="/img/dash-avatar.jpg" alt="profile">
            </div>
        </div>

        <!-- CARD CENTRAL -->
        <div class="dashboxes">
            <div class="dashboxes-top">
                <div class="box-info user">
                    <h2>123128</h2>
                    <p>Usuários Cadastrados</p>
                </div>
                <div class="box-info pet">
                    <h2>123128</h2>
                    <p>Pets Cadastrados</p>
                </div>
                <div class="box-info parceiro">
                    <h2>123128</h2>
                    <p>Parceiros Cadastrados</p>
                </div>
            </div>
            <div class="info-cards">

                <div class="dashcards">
                    <div class="card-info">
                        <h3>Usuários</h3>
                        <div class="listagem">
                            <p>Nome</p>
                            <p>email</p>
                            <p>telefone</p>
                        </div>
                    </div>
                </div>
                <div class="dashcards">
                    <div class="card-info">
                        <h3>Pets</h3>
                        <div class="listagem">
                            <p>Nome</p>
                            <p>Raça</p>
                            <p>Tipo</p>
                        </div>
                    </div>
                </div>
                <div class="dashcards">
                    <div class="card-info">
                        <h3>Parceiros</h3>
                        <div class="listagem">
                            <p>Nome</p>
                            <p>email</p>
                            <p>telefone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM CARD CENTRAL -->

    </section>

    <script src="/js/sidebarToggle.js"></script>
</body>

</html>