<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/8738c5e42e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/esqueci-senha.css" type="text/css">
    
    <title>
        <%= title %>
    </title>

</head>
<body>
    
    <div class="container">
        <form action="recupera-senha">

            <div class="form-content">

                <div class="forget-form">
                    <div class="title">Esqueci minha senha</div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" placeholder="Digite seu email" required>
                        </div>

                        <div class="button input-box">
                            <input type="submit" placeholder="Enviar">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>
</html>