<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/8738c5e42e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    
    <title>
        Faça Login
    </title>

</head>
<body>
    
    <div class="container">
        <form action="/login/auth" method="POST">

            <div class="form-content">

                <div class="login-form">
                    <div class="title">Login</div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" name="email" placeholder="Digite seu email" required>
                        </div>
                        <div class="input-box">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" name="password" placeholder="Digite sua senha" required>
                        </div>
                        <div class="text"><a href="esqueci-senha">Esqueceu sua senha?</a></div>
                        <% if( erro ) { %>
                            <p><%= erro %></p>
                        <% } %>
                        <div class="button input-box">
                            <input type="submit" placeholder="Enviar">
                        </div>
                    </div>
                    <div class="cadastrado">Ainda não é cadastrado?<a href="registrar"><span>Registre-se</span></a></div>
                </div>
            </div>
        </form>
    </div>

</body>
</html>