<section class="pet_container">
    <div class="card">
        <div class="card_img">
            <img src="img/dash-pet-test.jpg" alt="profile">
        </div>
        <h3 class="card_name">
            <span>Pipoka</span>
            <p>Nasc: 12/07/2019</p>
        </h3>
        <div class="card_info">
            <p class="card_raca">
                <span>Raca: </span>Splitz
            </p>
            <p class="card_tipo">
                <span>Tipo: </span>Cachorro
            </p>
            <p class="card_peso">
                <span>Peso: </span>1.250kg
            </p>
        </div>
        <div class="cardBtn">
            <span class="delBtn"><i class="fa-solid fa-xmark"></i></span>
            <span class="editBtn"><i class="fa-solid fa-pen"></i></span>
        </div>
    </div>
</section>