<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/8738c5e42e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/recuperar-senha.css" type="text/css">
    
    <title>
        <%= title %>
    </title>

</head>
<body>
    
    <div class="container">
        <form action="login" method="GET">

            <div class="form-content">

                <div class="recover">
                    <h2>Recuperação de Conta</h2>
                    <div class="input-boxes">
                        <div class="box" id="box_01">
                            <input type="text" placeholder="0" minlength="1" maxlength="1">
                        </div>
                        <div class="box" id="box_02">
                            <input type="text" placeholder="0" minlength="1" maxlength="1">
                        </div>
                        <div class="box" id="box_03">
                            <input type="text" placeholder="0" minlength="1" maxlength="1">
                        </div>
                        <div class="box" id="box_04">
                            <input type="text" placeholder="0" minlength="1" maxlength="1">
                        </div>
                        <div class="box" id="box_05">
                            <input type="text" placeholder="0" minlength="1" maxlength="1">
                        </div>
                        <div class="box" id="box_06">
                            <input type="text" placeholder="0" minlength="1" maxlength="1">
                        </div>
                    </div>
                    <div class="button input-box">
                        <input type="submit" placeholder="Enviar">
                    </div>

                    <div class="text"><a href="esqueci-senha">Não recebeu o código?</a><a href="login">Voltar</a></div>
                    
                </div>
            </div>
        </form>
    </div>

    <script src="js/recuperar-senha-gerador.js"></script>
</body>
</html>