<div class="container-geral">
    
    <div class="servicos-header">
        <h2 class="servicos-titulo">
            Nossos Serviços
        </h2>
    </div>
    
    <div class="servicos-card">
        <div class="container_servico">
            <div class="icone">
                <i class="fa-solid fa-paw"></i>
            </div>
            <div class="text-header">
                <h2>DogWalking</h2>
                <span></span>
            </div>
            <div class="subtext">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed magnam explicabo excepturi officia dolor
                    quam iste, odio eligendi ipsa libero exercitationem fugit minima natus. Necessitatibus deserunt aliquid
                    dolore culpa.</p>
            </div>
        </div>
    
        <div class="container_servico">
            <div class="icone">
                <i class="fa-solid fa-paw"></i>
            </div>
            <div class="text-header">
                <h2>PetShower</h2>
                <span></span>
            </div>
            <div class="subtext">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed magnam explicabo excepturi officia dolor
                    quam iste, odio eligendi ipsa libero exercitationem fugit minima natus. Necessitatibus deserunt aliquid
                    dolore culpa.</p>
            </div>
        </div>
    
        <div class="container_servico">
            <div class="icone">
                <i class="fa-solid fa-paw"></i>
            </div>
            <div class="text-header">
                <h2>Veterinária</h2>
                <span></span>
            </div>
            <div class="subtext">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed magnam explicabo excepturi officia dolor
                    quam iste, odio eligendi ipsa libero exercitationem fugit minima natus. Necessitatibus deserunt aliquid
                    dolore culpa.</p>
            </div>
        </div>
    
        <div class="container_servico">
            <div class="icone">
                <i class="fa-solid fa-paw"></i>
            </div>
            <div class="text-header">
                <h2>Pet Hostel</h2>
                <span></span>
            </div>
            <div class="subtext">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed magnam explicabo excepturi officia dolor
                    quam iste, odio eligendi ipsa libero exercitationem fugit minima natus. Necessitatibus deserunt aliquid
                    dolore culpa.</p>
            </div>
        </div>
    </div>

</div>