<div class="container-sobre">
    <h2 class="sobre-header">Sobre Nós</h2>
    <div class="card-container">
        <div class="sobre-card">
            <span><i class="fa-solid fa-book"></i></span>
            <h3>Missão</h3>
            <p>Nossa Missão é levar praticidade e eficiênica ao nosso cliente,para que ele consiga encontrar
                o melhor serviço para o seu pet!</p>
        </div>

        <div class="sobre-card">
            <span><i class="fa-solid fa-earth-americas"></i></span>
            <h3>Visão</h3>
            <p>Busque um profissional parceiro, preparado para cuidar, visitar e passear com seu pet. Marque
                um
                encontro gratuito para conhecer o parceiro e então agende a data e hora pra contratar o
                serviço.
            </p>
        </div>
        <div class="sobre-card">
            <span><i class="fa-solid fa-trophy"></i></span>
            <h3>Conquistas</h3>
            <p class="paragrafo">Mais de 1.000 clientes cadastrados e usando nossos serviços de maneira
                gratuita, suporte 24h para clientes/profissionais parceiros.</p>

        </div>
    </div>
</div>