<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/petModal.css">

    <title>Cadastrar novo pet</title>
</head>

<body>
    <div class="modal">
        <div class="modal-formulario">
            <form action="#" method="post">
                <div class="input-box">
                    <label for="nome_pet">Nome</label>
                    <input type="text" name="nome_pet" id="nome_pet" placeholder="Nome do pet">
                </div>

                <div class="input-box">
                    <label for="apelido_pet">Apelido</label>
                    <input type="text" name="apelido_pet" id="apelido_pet" placeholder="Apelido do pet">
                </div>

                <div class="input-box">
                    <label for="tipo">Tipo</label>
                    <select name="tipo" id="tipo">
                        <option value="" disabled selected hidden>Escolha uma opção</option>
                        <option value="CACHORRO">Cachorro</option>
                        <option value="GATO">Gato</option>
                        <option value="PASSARO">Pássaro</option>
                        <option value="PEIXE">Peixe</option>
                    </select>
                </div>

                <div class="input-box">
                    <label for="raca">Raca</label>
                    <select name="raca" id="raca">
                        <option value="" disabled selected hidden>Escolha uma opção</option>
                        <option value="YORKSHIRE">Yorkshide</option>
                        <option value="PERSA">Persa</option>
                        <option value="ARARA">Arara</option>
                        <option value="NEMO">Nemo</option>
                    </select>
                </div>

                <div class="input-box">
                    <label for="genero">Genero</label>
                    <select name="raca" id="raca">
                        <option value="" disabled selected hidden>Escolha uma opção</option>
                        <option value="MASCULINO">Masculino</option>
                        <option value="FEMININO">Feminino</option>
                    </select>
                </div>
                <div class="input-box btn">
                    <button type="submit">Enviar</button>
                    <span>X</span>
                </div>

            </form>
        </div>
    </div>

</body>

</html>