@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root{
    --montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c3c3c3;
    padding: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-self: center;
    max-width: 500px;
    width: 100%;
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
}

.container form{
    height: 100%;
    width: 100%;
    background: #fff; 
}

.container .form-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content h2{
    font-size: 24px;
    padding: 10px 0px;
    text-align: center;
    color: #7d2ae8; 
}

form .form-content .input-boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.form-content .recover .box{
    font-size: 24px;
    font-family: var(--montserrat);
}

.input-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-content .input-box input{
    height: 100%;
    width: 75%;
    border: none;
    padding: 0px 30px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    background: #7d2ae8;
    color: white;
}

form .form-content .input-boxes .button{
    color: white;
    margin-top: 40px;
}

form .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.button input:hover{
    background: #5b13b9;
}

form .form-content .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 60px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    margin: 5px;
}

form .form-content .box input[type="text"]{
    border: none;
    text-align: center;
    outline: none;
    font-size: 24px;
    width: 40px;
    height: 50px;
}

form .form-content .recover .text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

form .form-content .recover .text a{
    margin: 5px 0;
    text-decoration: none;
    color: black;
    cursor: pointer;
}